.alert {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 0.95rem;
  --bs-alert-padding-y: 0.95rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: 0 solid var(--bs-alert-border-color);
  --bs-alert-border-radius: 0.2rem;
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
  color: var(--bs-alert-color);
  margin-bottom: var(--bs-alert-margin-bottom);
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  position: relative;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 600;
}

.alert-dismissible {
  padding-right: 2.85rem;
}

.alert-dismissible .btn-close {
  padding: 1.1875rem 0.95rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.alert-primary {
  --bs-alert-color: #234b85;
  --bs-alert-bg: #d8e5f8;
  --bs-alert-border-color: #c4d8f5;
}

.alert-primary .alert-link {
  color: #1c3c6a;
}

.alert-secondary {
  --bs-alert-color: #41464b;
  --bs-alert-bg: #e2e3e5;
  --bs-alert-border-color: #d3d6d8;
}

.alert-secondary .alert-link {
  color: #34383c;
}

.alert-success {
  --bs-alert-color: #117054;
  --bs-alert-bg: #d2f1e8;
  --bs-alert-border-color: #bbebdd;
}

.alert-success .alert-link {
  color: #0e5a43;
}

.alert-info {
  --bs-alert-color: #0e616e;
  --bs-alert-bg: #d1ecf1;
  --bs-alert-border-color: #b9e3ea;
}

.alert-info .alert-link {
  color: #0b4e58;
}

.alert-warning {
  --bs-alert-color: #976f1a;
  --bs-alert-bg: #fef1d5;
  --bs-alert-border-color: #feeac0;
}

.alert-warning .alert-link {
  color: #795915;
}

.alert-danger {
  --bs-alert-color: #842029;
  --bs-alert-bg: #f8d7da;
  --bs-alert-border-color: #f5c2c7;
}

.alert-danger .alert-link {
  color: #6a1a21;
}

.alert-light {
  --bs-alert-color: #626364;
  --bs-alert-bg: #fdfdfe;
  --bs-alert-border-color: #fcfdfe;
}

.alert-light .alert-link {
  color: #4e4f50;
}

.alert-dark {
  --bs-alert-color: #141619;
  --bs-alert-bg: #d3d3d4;
  --bs-alert-border-color: #bcbebf;
}

.alert-dark .alert-link {
  color: #101214;
}

.alert {
  display: flex;
  padding: 0;
}

.alert .close:focus,
.alert .close:hover {
  opacity: 1;
}

.alert-outline,
.alert-outline-coloured {
  background: #fff;
  color: #495057;
}

.alert-outline hr,
.alert-outline-coloured hr {
  border-top-color: #ced4da;
}

.alert-outline .close:focus,
.alert-outline .close:hover,
.alert-outline-coloured .close:focus,
.alert-outline-coloured .close:hover {
  color: #343a40;
}

.alert-outline .alert-message,
.alert-outline-coloured .alert-message {
  border: 1px solid #ced4da;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.alert-outline .alert-message:not(:nth-child(2)),
.alert-outline-coloured .alert-message:not(:nth-child(2)) {
  border-bottom-left-radius: 0;
  border-left: 0;
  border-top-left-radius: 0;
}

.alert-outline .alert-icon,
.alert-outline-coloured .alert-icon {
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  color: #fff;
}

.alert-outline-coloured.alert-primary .alert-icon,
.alert-outline.alert-primary .alert-icon {
  background-color: #3b7ddd;
}

.alert-outline-coloured.alert-secondary .alert-icon,
.alert-outline.alert-secondary .alert-icon {
  background-color: #6c757d;
}

.alert-outline-coloured.alert-success .alert-icon,
.alert-outline.alert-success .alert-icon {
  background-color: #1cbb8c;
}

.alert-outline-coloured.alert-info .alert-icon,
.alert-outline.alert-info .alert-icon {
  background-color: #17a2b8;
}

.alert-outline-coloured.alert-warning .alert-icon,
.alert-outline.alert-warning .alert-icon {
  background-color: #fcb92c;
}

.alert-outline-coloured.alert-danger .alert-icon,
.alert-outline.alert-danger .alert-icon {
  background-color: #dc3545;
}

.alert-outline-coloured.alert-light .alert-icon,
.alert-outline.alert-light .alert-icon {
  background-color: #f5f7fb;
}

.alert-outline-coloured.alert-dark .alert-icon,
.alert-outline.alert-dark .alert-icon {
  background-color: #212529;
}

.alert-outline-coloured.alert-primary .alert-message {
  border-color: #3b7ddd;
}

.alert-outline-coloured.alert-secondary .alert-message {
  border-color: #6c757d;
}

.alert-outline-coloured.alert-success .alert-message {
  border-color: #1cbb8c;
}

.alert-outline-coloured.alert-info .alert-message {
  border-color: #17a2b8;
}

.alert-outline-coloured.alert-warning .alert-message {
  border-color: #fcb92c;
}

.alert-outline-coloured.alert-danger .alert-message {
  border-color: #dc3545;
}

.alert-outline-coloured.alert-light .alert-message {
  border-color: #f5f7fb;
}

.alert-outline-coloured.alert-dark .alert-message {
  border-color: #212529;
}

.alert-icon {
  background: rgba(0, 0, 0, 0.05);
  padding: 0.95rem;
}

.alert-message {
  box-sizing: border-box;
  padding: 0.95rem;
  width: 100%;
}
