.robotstatus {
  margin-bottom: $grid-gutter-width;
  box-shadow: $card-shadow;
  border-radius: $card-border-radius;
  padding: 15px 20px;
  background: $dark-blue;
  position: relative;
  &.light {
    background: $white;
    & .robot .robot-title,
    & .robot .robot-name,
    & .robot .robot-location {
      color: $primary;
    }
  }
  &.light &-title {
    color: $primary;
  }
  &-header {
    border-bottom-width: 1px;
  }
  &-title {
    font-size: $card-title-font-size;
    font-weight: $card-title-font-weight;
    color: $white;
  }
  &-action {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    & > a {
      border: 1px solid $dark-blue;
      box-shadow: 0px 0px 1px $primary;
      border-radius: 100%;
      background: $white;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
    & > a > i {
      color: $dark-blue;
    }
    & > a > span {
      display: none;
    }
    @include media-breakpoint-down(md) {
      top: 98%;
      left: 0;
      right: 0;
      bottom: 2%;
      width: 100%;
      transform: translate(0, 0);
      & > a {
        border: 1px solid $dark-blue;
        box-shadow: 0px 0px 1px $primary;
        border-radius: 6px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        background: $white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        z-index: 1;
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        padding: 20px;
      }
      & > a > i {
        color: $dark-blue;
      }
      & > a > span {
        display: block;
      }
    }
  }
}

.robotslist {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}
.robot {
  display: flex;
  gap: 5px;
  align-items: center;
  max-height: 65px;
  &-avatar {
    border-radius: 100%;
    width: 55px;
    height: 55px;
    border: 2px solid $gray-400;
    &.small {
      width: 35px;
      height: 35px;
    }
    &.success {
      border: 2px solid $success;
    }
    &.danger {
      border: 2px solid $danger;
    }
    &.primary {
      border: 2px solid $primary;
    }
    & > img {
      width: 100%;
      height: auto;
      object-fit: cover;
      background: $white;
      border-radius: 100%;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  &-title {
    color: $gray-400;
    font-size: $font-size-sm;
  }
  &-name {
    color: $white;
    font-size: $font-size-sm;
  }
  &-location {
    color: $white;
    font-size: $font-size-sm;
  }
}
.rounded-full {
  border-radius: 100%;
}

.navbar-fixed {
  width: calc(100% - $sidebar-width);
  position: fixed;
  top: 0;
  z-index: 9999;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.wrapper > .sidebar.collapsed + .main > .navbar-fixed {
  width: 100%;
  @include media-breakpoint-down(lg) {
    width: calc(100% - $sidebar-width);
  }
}
.content {
  margin-top: 65px;
}

.icon-btn {
  padding: 0;
  font-size: 1.3rem;
  border-color: transparent !important;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  cursor: pointer;
  & input[type="checkbox"] {
    display: none;
  }
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #ccc;
    transition: background-color 0.3s ease-in-out;
  }
  &-handle {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    right: -25px;
    font-size: 12px;
    font-weight: bold;
    color: #aaa;
    text-shadow: 1px 1px #fff;
    transition: color 0.3s ease-in-out;
  }

  & input[type="checkbox"]:checked + &-handle {
    transform: translateX(45px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px $success;
  }
  & input[type="checkbox"]:checked + &-background {
    background-color: $success;
    box-shadow: inset 0 0 0 2px $success;
  }

  & input[type="checkbox"]:checked + &:before {
    content: "On";
    color: $success;
    right: -20px;
  }
  & input[type="checkbox"]:checked + &-background &-handle {
    transform: translateX(25px);
  }

  & input[type="checkbox"]:not(:checked) + &-handle {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px $danger;
  }
  & input[type="checkbox"]:not(:checked) + &-background {
    background-color: $danger;
    box-shadow: inset 0 0 0 2px $danger;
  }

  & input[type="checkbox"]:not(:checked) + &:before {
    content: "On";
    color: $danger;
    right: -15px;
  }
}
.dataTables_paginate .paginate_button {
  background: transparent !important;
  &:hover {
    border-color: $primary !important;
    border-radius: 0.2rem !important;
    color: $primary !important;
  }
}
body {
  table-layout: fixed;
}
.page-utilities {
  display: flex;
  flex-direction: row;
  gap: 10px;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  & > .page-utility {
    flex: 0.25;
    &.small {
      flex: 0.1;
    }
    @include media-breakpoint-down(md) {
      flex: 1;
    }
  }
}

.date-control {
  position: relative;
  &:before {
    position: absolute;
    content: "\f133";
    width: 16px;
    height: 16px;
    top: 50%;
    bottom: 50%;
    font-family: "Font Awesome 6 Free";
    right: 0.1rem;
    transform: translate(-50%, -50%);
  }
}
.warningRow {
  background: rgba($warning, 0.4) !important;
}
.dangerRow {
  background: rgba($danger, 0.4) !important;
}
.choices {
  width: inherit;
}
